@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

* {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
    width: 98vw;
    height: 100vh;
}

body {
    background-color: var(--cor2);
}

main {
    background: white;
    width: 250px;
    height: 520px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.429);
    overflow: hidden; /*Com essa configuração tudo o que estiver fora da borda vai desaparecer, assim, não precisamos fazer uk border radius para todos os outros elementos.*/
    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

div#img-login {
    width: 100%;
    background: url(../images/metal.jpg) no-repeat left bottom;
    background-size: cover;
    height: 200px;
}

#login {
    margin: 0 8px;
}

#login h1{
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

#login p {
    font-size: 0.8em;
    margin: 5px 0px;
    line-height: 17px;
}

div.campo-formulario {
    background: var(--cor2);
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 7px 5px 5px 7px;
}

#icon {
    color: white;
    font-size: 40px;
    margin-left: 5px;
}

div.campo-formulario input {
    width: 76%;
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: #9afffcc6;
    float: right;
    margin: 2px;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.723);
    text-indent: 5px;
}

div.campo-formulario input:focus-within {
    background: white;
}

.botao {
    width: 100%;
    border-radius: 5px;
    line-height: 40px;
    margin-bottom: 5px;
    border: 1px solid var(--cor1);
    font-size: 0.9em;
    text-align: center;
    background: white;
}

.botao#entrar {
    background: var(--cor1);
    color: white;
}

.botao#entrar:hover {
    background: #316b69;
}

.botao a {
    text-decoration: none;
    color: #316b69;
}

.botao:hover {
    background: #5dcbc7;
}